@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --dark: rgb(23, 23, 26);
    --purple: rgb(56, 48, 77);
    --body-bg: rgb(202, 201, 201);
}

.dark{
    --black: #fff;
    --white: #000;
    --dark: rgb(238, 238, 238);
    --purple: rgb(56, 48, 77);
    --body-bg: rgb(202, 201, 201);
}

.color-white{
    color: #fff !important;
}

::selection{
    color: #fff;
    background-color: #000;
}

body {
    background-color: var(--body-bg);
    display: flex;
}

.content{
    margin: 12px;
    font-size: 1.7em;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.6em;
}

.sidebar {
    padding: 0 10px 10px 20px;
    width: 275px;
    height: 100vh;
    background-color: var(--dark);
    transition: 0.4s;
}

.sidebar .link i,
.sidebar .profile i {
    padding: 12px;
    border-radius: 16px;
}

.sidebar .header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}

.sidebar .header .logo {
    display: flex;
    user-select: none;
}

.sidebar .header .logo h1 {
    margin-left: 5px;
    font-size: 24px;
    font-weight: 400;
}

.sidebar .header .logo i {
    font-size: 2.5em;
    font-weight: 400;
}

#search {
    background-color: var(--purple);
}

.sidebar .link ul li a,
#search {
    height: 100%;
    margin: 4px 0;
    border-radius: 16px;
    color: var(--white);
    display: flex;
    align-items: center;
    transition: 0.4s;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar .link ul li a:hover,
#search i:hover {
    color: var(--black);
    background-color: var(--white);
}

.sidebar .link ul li a span {
    margin-left: 2px;
}

#search input {
    height: 40px;
    padding: 2px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 16px;
    color: var(--white);
    font-size: 1.1em;
    overflow: hidden;
}

.mini-sidebar__link__hover {
    width: 120px;
    height: 30px;
    display: none;
    margin-top: -40px;
    position: absolute;
    left: 80px;
    color: var(--black);
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    /* pointer-events: none; fare tıklanmasına müdahale etmez */
    pointer-events: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sidebar .link ul li:hover .mini-sidebar__link__hover {
    opacity: 1;
}

.sidebar .profile {
    height: 55px;
    width: 275px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}

.sidebar .profile .profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .profile i {
    margin-right: 10px;
    margin-bottom: 5px;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 16px;
}

.sidebar .profile .profile-info img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 12px;
}

.sidebar .profile .profile-info__text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.sidebar .profile .profile-info__text .name {
    font-size: 0.9em;
    font-weight: 500;
}

.sidebar .profile .profile-info__text .job {
    font-size: 0.8em;
    font-weight: 400;
}

/* @media (max-height: 600px){
    .sidebar .profile{
        position: static;
        margin-left: -20px;
    }
} */





