@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-shadow: rgb(222, 212, 233);
    --bg-shadow2: rgb(222, 212, 233);
    --purple: rgb(117, 77, 209);
    --gray: gray;
    --table-border: rgb(219, 219, 219);
    --white: white;
    --black: black;
    --red: rgb(255, 71, 102);
    --yellow: rgb(241, 207, 12);
    --green: rgb(42, 255, 202);
    --body-bg-light: rgb(248, 243, 253);
    --body-bg-dark: rgb(18, 17, 22);
    --card-bg-light: rgb(255, 255, 255);
    --card-bg-dark: rgb(35, 34, 44);
    --act1: rgb(117, 77, 209);
    --act2: rgb(222, 212, 233);
}
.dark{
    --white: black;
    --black: white;
    --body-bg-light: rgb(18, 17, 22);
    --card-bg-light: rgb(35, 34, 44);
    --bg-shadow: black;
    --act1: rgb(222, 212, 233);
    --act2: rgb(117, 77, 209);
}

body{
    background-color: var(--body-bg-light);
    font-size: 14px;
}

.page{
    margin: 0;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}

.c-yellow{
    color: var(--yellow) !important;
}
.c-red{
    color: var(--red) !important;
}
.c-purple{
    color: var(--purple) !important;
}
.c-black{
    color: var(--black) !important;
}
.c-green{
    color: var(--green) !important;
}
.c-red{
    color: var(--red) !important;
}
.c-gray{
    color: var(--gray) !important;
}
.c-white{
    color: var(--white) !important;
}

.bg-purple{
    background-color: var(--purple);
}
.bg-red{
    background-color: var(--red);
}
.bg-green{
    background-color: var(--green);
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,
h2,
h4{
    color: var(--black);
}

h3{
    font-size: 1.2em;
    font-weight: 600;
    color: var(--black);
}


.card{
    padding: 20px;
    background-color: var(--card-bg-light);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 25px;
    transition: 0.4s;
}
.card:hover{
    box-shadow: none;
}

.time{
    color: var(--gray);
    font-size: 0.7em;
    font-weight: 500;
    opacity: 80%;
}

.icon{
    user-select: none;
    cursor: pointer;
}

#sidebar-btn-close{
    display: none;
}

#show-all{
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--purple);
}

/* SIDEBAR ------------------------------------------------------------ */
/* SIDEBAR ------------------------------------------------------------ */
/* SIDEBAR ------------------------------------------------------------ */

.sidebar{
    height: 100%;
    width: 220px;
    margin-right: 10px;
    background-color: var(--body-bg-light);
}
/* max-width: 1100px; */
.sidebar .header .logo{
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar .header .icon{
    margin-right: 10px;
}

.sidebar .logo img{
    width: 32px;
    height: 32px;
}
.sidebar .logo h1{
    margin-left: 10px;
    font-size: 18px;
}
.sidebar .logo h1 span{
    color: var(--red);
}

.sidebar .link{
    margin-top: 10px;
}

.sidebar .link ul{
    display: flex;
    flex-direction: column;
}

.sidebar .link li{
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
}
.sidebar .link li a{
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    font-weight: 600;
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: var(--gray);
    transition: 0.3s;
}
#selected{
    color: var(--purple) !important;
    border-left: 5px solid var(--purple);
    background-color: var(--bg-shadow);
}
#msg{
    margin-left: 10px;
    width: 32px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--red);
    color: var(--white);
}
.logout{
    height: 45px;
    width: 220px;
    position: absolute;
    bottom: 10px;
    font-size: 0.7em;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--gray);
    transition: 0.3s;
    background-color: transparent;
}
.sidebar .link li a:hover,
.logout:hover{
    padding-left: 40px;
    color: var(--purple);
}

.sidebar .link ul li a span,
.logout span{
    margin-right: 10px;
}

/* MAIN --------------------------------------------------------- */
/* MAIN --------------------------------------------------------- */
/* MAIN --------------------------------------------------------- */

.main{
    height: 100%;
    width: 65%;
    padding: 5px 10px;
}

.main .dashboard .header{
    height: 60px;
    display: flex;
    align-items: center;
}

.main .dashboard .header h2{
    font-size: 1.6em;
    font-weight: 800;
}

input[type="date"]{
    margin: 5px;
    text-align: center;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-shadow);
    color: var(--black);
    outline: none;
}

.main .dashboard .statistics{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.main .dashboard .statistics .card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* grid-template-areas: 
        "icon bar"
        "info bar"
        "time bar"; */
}

.main .dashboard .statistics .card .left{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.main .dashboard .statistics .card .left{
    flex-basis: 50%;
}

.main .dashboard .statistics .card .icon span{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white);
}

.main .dashboard .statistics .card:nth-child(1) .icon span{
    background-color: var(--purple);
}
.main .dashboard .statistics .card:nth-child(2) .icon span{
    background-color: var(--red);
}
.main .dashboard .statistics .card:nth-child(3) .icon span{
    background-color: var(--green);
}

.main .dashboard .statistics .card .info{
    height: 70px;
    margin-top: 20px;
}
.main .dashboard .statistics .card .info h3{
    font-size: 0.8em;
    font-weight: 800;
}
.main .dashboard .statistics .card .info h2{
    font-size: 1.8em;
    font-weight: 800;
}

.main .dashboard .statistics .card .bar{
    font-size: 0.9em;
    font-weight: 500;
    position: relative;
}
.main .dashboard .statistics .card .bar svg{
    margin-top: 10px;
    width: 110px;
    height: 110px;
}

.main .dashboard .statistics .card .bar svg circle{
    stroke: var(--purple);
    stroke-width: 15px;
    stroke-linecap: round;
}

.main .dashboard .statistics .total-sales .bar svg circle{
    stroke-dasharray: 315;
    stroke-dashoffset: 90;
}
.main .dashboard .statistics .total-expenses .bar svg circle{
    stroke-dasharray: 315;
    stroke-dashoffset: 140;
}
.main .dashboard .statistics .total-income .bar svg circle{
    stroke-dasharray: 315;
    stroke-dashoffset: 220;
}


.main .dashboard .statistics .card .bar .number{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}


.main .recent-orders{
    margin-top: 25px;
}

/* TABLE ------------------------------------------- */
/* TABLE ------------------------------------------- */
/* TABLE ------------------------------------------- */

.main .recent-orders .table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .recent-orders .table table{
    margin-top: 10px;
    width: 100%;
}

.main .recent-orders .table table thead th{
    color: var(--black);
}
.main .recent-orders .table table td{
    height: 35px;
    text-align: center;
    border-bottom: solid 1px var(--table-border);
    color: var(--gray);
    font-size: 0.8em;
    font-weight: 500;
}
.main .recent-orders .table table td:last-child a{
    color: var(--purple);
}
.main .recent-orders .table table tr:last-child td{
    border: none;
}

/* PANEL ------------------------------------------- */
/* PANEL ------------------------------------------- */
/* PANEL ------------------------------------------- */

.panel{
    width: 35%;
    min-width: 228;
    padding-left: 20px;
    z-index: 1;
}

.panel .header{
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.panel .header .left #sidebar-btn-open{
    display: none;
    cursor: pointer;
}

.panel .header .right{
    display: flex;
    justify-content: flex-end;
}

.panel .header .profile{
    display: flex;
    flex-direction: row-reverse;
}

.panel .profile img{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.panel .profile .welcome{
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 80%;
    color: var(--black);
}

.theeme-btn{
    margin-top: 5px;
    margin-right: 25px;
    width: max-content;
    height: max-content;
    background-color: var(--bg-shadow2);
    border-radius: 5px;
    display: flex;
}
.theeme-btn span{
    width: 30px;
    height: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
#light-btn{
    color: var(--white);
    background-color: var(--act1);
}
#dark-btn{
    color: var(--black);
    background-color: var(--act2);
}


.panel .recent-updates{
    margin-top: 15px;
}

.panel .recent-updates__card{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.panel .recent-updates__card .notification{
    display: flex;
    margin-bottom: 10px;
}

.panel .recent-updates__card img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.panel .recent-updates__card .notification .info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    color: var(--gray);
    font-size: 0.9em;
}
.panel .recent-updates__card .notification .info strong{
    color: var(--black);
}

.panel .sales-analytics{
    margin-top: 20px;
}
.panel .sales-analytics__card{
    margin-top: 10px;
    display: flex;
}
.panel .sales-analytics__card .icon span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.main .dashboard .statistics .card:nth-child(1) .icon span{
    background-color: var(--purple);
}
.main .dashboard .statistics .card:nth-child(2) .icon span{
    background-color: var(--red);
}
.main .dashboard .statistics .card:nth-child(3) .icon span{
    background-color: var(--green);
}



.panel .sales-analytics__card h4{
    font-size: 0.8em;
}
.panel .sales-analytics__card .info{
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.panel #add-product{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    background-color: transparent;
    box-shadow: none;
    border: 3px var(--purple);
    border-style: dashed;
    cursor: pointer;
}
.panel #add-product:hover{
    color: var(--white);
    background-color: var(--purple);
}
.panel #add-product span{
    font-weight: 600;
    margin: 0 5px;
}




/* MEDIA --------------------------------------------------------------------- */
/* MEDIA --------------------------------------------------------------------- */
/* MEDIA --------------------------------------------------------------------- */


@media (max-width: 1200px){
    .sidebar .logo h1,
    .sidebar .link .text{
        display: none;
    }
    .sidebar,
    a.logout{
        width: 106px;
        position: static;
    }
    
    .main{
        width: 50%;
    }

    .main .dashboard .statistics{
        flex-direction: column;
    }
    .main .dashboard .statistics .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .main .dashboard .statistics .card .info h2{
        margin: 12px 0px;
    }

    .recent-orders{
        width: 80%;
        position: absolute;
    }

    .recent-orders .table table thead th:first-child,
    .recent-orders .table table thead th:last-child,
    .recent-orders .table table tbody td:first-child,
    .recent-orders .table table tbody td:last-child{
        display: none;
    }
    .panel{
        width: 50%;
    }
    
}


@media (max-width: 760px){

    .sidebar,
    a.logout{
        width: 220px;
        position: absolute;
        left: -100%;
        z-index: 2;
        transition: 0.4s;
        background-color: var(--card-bg-light);
    }

    a.logout{
        position: fixed;
        left: -100%;
        bottom: 20px;
    }

    .sidebar .logo h1,
    .sidebar .link .text{
        display: inline;
    }
    .sidebar .logo{
        margin-top: 5px;
        margin-left: 20px;
    }

    .sidebar .link ul{
        margin-right: 20px;
    }

    .page{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .main,
    .panel{
        width: 100%;
        padding: 0;
    }

    .main .dashboard{
            margin-top: 80px;
    }

    .recent-orders{
        width: 100%;
        position: static;
    }

    .panel .header{
        width: 100%;
        height: 80px;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--card-bg-light);
    }

    .panel .header .left #sidebar-btn-open{
        display: inline;
    }

    .panel .header .profile .welcome{
        display: none;
    }

    #sidebar-btn-close{
        display: inline;
    }


}

@media (max-height: 530px) {
    .logout{
        position: static;
    }
}